@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro.eot');
    src: url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro/GothamPro.ttf') format('truetype'),
        url('../fonts/GothamPro/GothamPro.svg#opensans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Medium';
    src: url('../fonts/GothamPro/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro/GothamPro-Medium.ttf') format('truetype'),
        url('../fonts/GothamPro/GothamPro-Medium.svg#opensans') format('svg');
    font-weight: normal;
    font-style: normal;
}