@import "parts/_fonts.scss";
@import "parts/_vars.scss";

.p-cj {
    &__title {
        font: 32px $gm;
        margin-bottom: 30px;
    }

    &__sub-title {
        font: 22px $gm;
        margin-bottom: 10px;
    }

    &__block {
        margin-bottom: 40px;
    }

    textarea.form-control {
        resize: none;
        height: 150px;
    }

    &__submit {
        padding: 60px 0px 40px;
        max-width: 200px;
        margin: auto;

        .btn {
            font: 18px/2 $gb;
        }
    }
}