@import "parts/_fonts.scss";
@import "parts/_vars.scss";

.p-feed {
    padding: 60px 0px 80px;

    &__title {
        font: 28px $g;
        color: #30323D;
        margin-bottom: 40px;
    }

    &__filter {
        background: #F6F6F6;
        padding: 0px 30px;
        position: relative;
        line-height: 56px;
        margin-bottom: 30px;

        &-vacancies {
            position: relative;

            &-chosen-icon {
                display: none;
            }

            &-chosen,
            &-list-one {
                display: inline-block;
                vertical-align: top;
                padding: 0px 20px;
                line-height: 56px;
                cursor: pointer;

                &:hover {
                    background: #2259B5;
                    color: #fff;
                }
            }

            &-list {
                display: inline-block;
                vertical-align: top;
            }
        }

        &-sort,
        &-options {
            position: absolute;
            top: 0px;
        }

        &-sort {
            right: 260px;

            &-text,
            &-drop,
            &-drop-chosen-text,
            &-drop-chosen-icon {
                display: inline-block;
                vertical-align: top;
            }

            &-drop-chosen-icon {
                line-height: 56px;
                margin-left: 5px;
            }

            .dropdown {
                &-menu {
                    padding: 0px;
                    margin: 0px;
                }

                &-item {
                    line-height: 30px;
                }
            }
        }

        &-options {
            right: 0px;
            padding: 0px 30px;
            cursor: pointer;
            border-left: 1px solid #D6D6D8;
            transition: .3s;

            &-icon {
                margin-left: 30px;
            }

            &.active {
                background: #2259B5;
                color: #fff;
            }
        }

        &-content {
            background: #fff;
            border: 1px solid #D6D6D8;
            padding: 50px;
            margin: -30px 0px 30px;

            &-header {
                padding-bottom: 20px;
            }

            &-block {
                margin-bottom: 25px;

                &-title {
                    font-family: $gm;
                    margin-bottom: 15px;
                }

                &-select {
                    max-width: 285px;
                }
            }

            &-btns {
                position: relative;
                display: inline-block;
                width: 150px;

                &-reset {
                    position: absolute;
                    right: -130px;
                    top: 15px;
                }
            }
        }
    }

    &__list {
        &-one {
            background: #fff;
            margin-bottom: 30px;

            &-header {
                position: relative;
                padding: 40px 30px;

                &-title {
                    display: inline-block;
                    font: 22px $gm;
                    padding-right: 200px;
                    color: #30323D;
                    margin: 0px 0px 10px;

                    &:hover {
                        color: #2259B5;
                    }

                    &:active {
                        color: #6F55AB;
                    }
                }

                &-right {
                    position: absolute;
                    right: 30px;
                    top: 45px;
                    color: #BFC0C5;
                    font-size: 18px;

                    &-views,
                    &-fav,
                    &-icon {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    &-views {

                        &-num,
                        &-icon {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        &-num {
                            font-size: 13px;
                            color: #83848B;
                            margin-left: 3px;
                        }
                    }

                    &-fav {
                        margin-left: 15px;
                        cursor: pointer;

                        &.fas {
                            color: #2259B5;
                        }
                    }

                    &-icon {
                        margin-left: 15px;

                        &.fa-graduation-cap {
                            color: #27AE60;
                            font-size: 22px;
                        }
                    }
                }
            }

            &-content {
                padding: 0px 30px;
                margin-bottom: 30px;

                &-head {
                    color: #83848B;
                    font-size: 13px;
                    position: relative;

                    &-time-my {
                        display: inline-block;
                        margin-left: 10px;
                    }

                    &-approved {
                        font-family: $gb;
                        color: #27AE60;
                    }

                    &-control {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        font: 13px $gm;
                        cursor: pointer;
                        color: #83848B;
                        overflow: hidden;
                        height: 15px;
                        text-align: right;

                        &:hover {
                            color: #2259B5;
                        }

                        &-text {
                            transition: .5s;
                        }

                        &.active &-text {
                            margin-top: -15px;
                        }
                    }
                }

                &-body {
                    padding-top: 30px;
                    line-height: 1.3;
                }
            }

            &-footer {
                background: #F6F6F6;
                padding: 25px 30px;
                font-size: 0px;

                &-column {
                    display: inline-block;
                    width: 50%;
                }

                &-item {
                    font: 13px $g;
                    color: #83848B;
                    margin-bottom: 7px;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    &-name {
                        font-family: $gb;
                    }

                    &.m-none {
                        color: #EB5757;
                    }
                }
            }
        }
    }

    &__load {
        max-width: 240px;
        margin: auto;

        &-btn {
            background: #2259B5;
            font: 15px/48px $g;
            color: #fff;
            text-align: center;
            cursor: pointer;

            &:hover {
                background: lighten(#2259B5, 10%);
            }
        }
    }
}

@media (max-width: $screen-sm) {
    .p-feed {
        &__filter {
            &-vacancies {
                &-chosen {
                    line-height: 30px;

                    &-text,
                    &-icon {
                        display: inline-block;
                    }
                }

                &-list {
                    display: none;
                    position: absolute;
                    left: 0px;
                    top: 100%;
                    background: #fff;
                    border: 1px solid #D6D6D8;
                    min-width: 150px;
                    z-index: 1;

                    &-one {
                        display: block;
                        line-height: 30px;
                    }
                }

                &.opened &-list {
                    display: block;
                }
            }

            &-options {
                &-text {
                    display: none;
                }

                &-icon {
                    margin: 0px;
                }
            }
        }

        &__list-one-footer {
            padding: 15px 30px;

            &-column {
                display: block;
                width: 100%;
            }

            &-item {
                white-space: normal;
            }
        }
    }
}

@media (max-width: $screen-xs) {
    .p-feed {
        background: #fff;
        margin: 0px -15px;
        padding: 30px 15px;

        &__title {
            margin-bottom: 20px;
        }

        &__filter {
            background: #F6F6F6;
            height: 56px;
            margin: 0px -15px 30px;

            &-vacancies {
                position: absolute;
                right: 15px;
                top: -48px;

                &-chosen {
                    padding: 0px;
                }
            }

            &-sort {
                right: auto;
                left: 15px;
            }

            &-content {
                padding: 15px;
                margin: -30px -15px 30px;
                border: 0px;
                border-bottom: 1px solid #D6D6D8;
                background: #fcfcfc;
            }
        }

        &__list {
            &-one {
                &-header {
                    padding: 0px 0px 15px;

                    &-title {
                        padding: 0px;
                        font-size: 20px;
                    }

                    &-right {
                        position: relative;
                        right: 0px;
                        top: 0px;
                        margin-top: 15px;
                    }
                }

                &-content {
                    padding: 0px;

                    &-head-control {
                        top: -32px;
                    }

                    &-body {
                        padding-top: 20px;
                    }
                }

                &-footer {
                    margin: 0px -15px;
                    padding: 15px;
                }
            }
        }
    }
}