@import "parts/_fonts.scss";
@import "parts/_vars.scss";

body,
html {
    height: 100%;
}

body {
    color: #404040;
    background: #EDEBF1;
    font: 15px $g;
    padding: 0px;
}

h1 {
    font: normal 26px $gm;
}

h2 {
    font: normal 22px $gm;
}

h3 {
    font: normal 18px $gm;
}

h4 {
    font: normal 16px $gm;
}

h5 {
    font: 12px $g;
}

.g {
    &-header {
        background: #fff;
        position: sticky;
        top: 0px;
        z-index: 900;

        &__content {
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-logo {
                width: 20%;

                &-link {
                    display: block;
                    background: url("../img/logo.png") 0px 0px no-repeat;
                    width: 167px;
                    height: 49px;
                }
            }

            &-mobi {
                width: 80%;

                &-link {
                    font-size: 18px;
                    padding: 5px;
                    margin-right: -5px;
                    display: none;
                }

                &-menu {
                    display: flex;
                    flex-direction: row;
                }
            }

            &-menu {
                width: 70%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 0px;
                padding: 0px;

                &-item {
                    display: inline-block;

                    &-link {
                        display: inline-block;
                        position: relative;
                        overflow: hidden;
                        font: 15px/60px $g;
                        color: #2C3C53;

                        &:before {
                            content: "";
                            position: absolute;
                            left: -100%;
                            bottom: 0px;
                            border-bottom: 3px solid #2259B5;
                            width: 100%;
                            transition: .1s;
                        }

                        &:hover {
                            text-decoration: none;
                            color: #2C3C53;
                        }
                    }

                    &:hover &-link,
                    &.active &-link {
                        &:before {
                            left: 0px;
                            transition: .3s;
                        }
                    }

                }
            }

            &-controls {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 30%;
                text-align: right;

                &-one {
                    display: inline-block;
                    font: 15px/26px $g;
                    background: url("../img/icon-sign_in.png") 0px center no-repeat;
                    padding-left: 30px;
                    margin-left: 15px;

                    &-link {
                        color: #2C3C53;
                    }

                    &:last-of-type {
                        background-image: url("../img/icon-sign_up.png");
                    }
                }
            }

            &-user {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 30%;
                text-align: right;
                position: relative;

                &-link {
                    cursor: pointer;

                    &-ava,
                    &-name,
                    &-icon {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    &-ava {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: #C4C4C4;
                        position: relative;
                        overflow: hidden;
                        margin-right: 5px;

                        &-nopict {
                            width: 40px;
                            color: #6C6E80;
                            font-size: 20px;
                            line-height: 40px;
                            text-align: center;
                        }

                        &-img {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            width: 40px;
                            height: 40px;
                        }
                    }

                    &-name {
                        font: 16px $g;
                        color: #33465F;
                        max-width: 100px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    &-icon {
                        font-size: 10px;
                    }
                }

                &-menu {
                    position: absolute;
                    right: 0px;
                    top: 60px;
                    background: #fff;
                    width: 250px;
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
                    text-align: left;
                    padding: 20px;
                    display: none;

                    &-title {
                        font: 16px $gb;
                        border-bottom: 1px solid #2C3C53;
                        padding-bottom: 2px;
                        margin-bottom: 10px;
                    }

                    &-block {
                        padding-bottom: 10px;

                        &-item {
                            margin-bottom: 10px;

                            &-link {
                                font: 16px $g;
                                color: #2C3C53;

                                &:hover {
                                    color: #2C3C53;
                                }
                            }
                        }
                    }
                }

                &.active &-menu {
                    display: block;
                }

                &.active &-link-icon {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &-footer {
        background: #E3E0EA;
        color: #30323D;
        font-size: 11px;
        text-align: center;
        padding: 30px 15px;
        height: 80px;

        &__text {
            display: inline-block;
        }
    }

    &-singlepage {
        height: 100%;
        width: 100%;
        display: table;

        &__footer,
        &__content {
            display: table-row;
            vertical-align: middle;
        }

        &__content.top {
            vertical-align: top;
            height: 100%;
        }

        &__footer {
            height: 75px;
        }
    }


    //
    // Helper Class
    //

    /* Margin */
    &-ma35 {
        margin: 35px;
    }

    &-ma30 {
        margin: 30px;
    }

    &-ma25 {
        margin: 25px;
    }

    &-ma20 {
        margin: 20px;
    }

    &-ma15 {
        margin: 15px;
    }

    &-ma10 {
        margin: 10px;
    }

    &-ma5 {
        margin: 5px;
    }

    &-ma0 {
        margin: 0px;
    }

    &-mt50 {
        margin-top: 50px;
    }

    &-mt35 {
        margin-top: 35px;
    }

    &-mt30 {
        margin-top: 30px;
    }

    &-mt25 {
        margin-top: 25px;
    }

    &-mt20 {
        margin-top: 20px;
    }

    &-mt15 {
        margin-top: 15px;
    }

    &-mt10 {
        margin-top: 10px;
    }

    &-mt5 {
        margin-top: 5px;
    }

    &-mt4 {
        margin-top: 4px;
    }

    &-mt3 {
        margin-top: 3px;
    }

    &-mt2 {
        margin-top: 2px;
    }

    &-mt1 {
        margin-top: 1px;
    }

    &-mt0 {
        margin-top: 0px;
    }

    &-mr35 {
        margin-right: 35px;
    }

    &-mr30 {
        margin-right: 30px;
    }

    &-mr25 {
        margin-right: 25px;
    }

    &-mr20 {
        margin-right: 20px;
    }

    &-mr15 {
        margin-right: 15px;
    }

    &-mr10 {
        margin-right: 10px;
    }

    &-mr5 {
        margin-right: 5px;
    }

    &-mr0 {
        margin-right: 0px;
    }

    &-mb50 {
        margin-bottom: 50px;
    }

    &-mb35 {
        margin-bottom: 35px;
    }

    &-mb30 {
        margin-bottom: 30px;
    }

    &-mb25 {
        margin-bottom: 25px;
    }

    &-mb20 {
        margin-bottom: 20px;
    }

    &-mb15 {
        margin-bottom: 15px;
    }

    &-mb10 {
        margin-bottom: 10px;
    }

    &-mb5 {
        margin-bottom: 5px;
    }

    &-mb4 {
        margin-bottom: 4px;
    }

    &-mb3 {
        margin-bottom: 3px;
    }

    &-mb2 {
        margin-bottom: 2px;
    }

    &-mb1 {
        margin-bottom: 1px;
    }

    &-mb0 {
        margin-bottom: 0px;
    }

    &-ml35 {
        margin-left: 35px;
    }

    &-ml30 {
        margin-left: 30px;
    }

    &-ml25 {
        margin-left: 25px;
    }

    &-ml20 {
        margin-left: 20px;
    }

    &-ml15 {
        margin-left: 15px;
    }

    &-ml10 {
        margin-left: 10px;
    }

    &-ml5 {
        margin-left: 5px;
    }

    &-ml0 {
        margin-left: 0px;
    }

    /* Padding */
    &-pa35 {
        padding: 35px;
    }

    &-pa30 {
        padding: 30px;
    }

    &-pa25 {
        padding: 25px;
    }

    &-pa20 {
        padding: 20px;
    }

    &-pa15 {
        padding: 15px;
    }

    &-pa10 {
        padding: 10px;
    }

    &-pa5 {
        padding: 5px;
    }

    &-pa0 {
        padding: 0px;
    }

    &-pt35 {
        padding-top: 35px;
    }

    &-pt30 {
        padding-top: 30px;
    }

    &-pt25 {
        padding-top: 25px;
    }

    &-pt20 {
        padding-top: 20px;
    }

    &-pt15 {
        padding-top: 15px;
    }

    &-pt10 {
        padding-top: 10px;
    }

    &-pt7 {
        padding-top: 7px;
    }

    &-pt6 {
        padding-top: 6px;
    }

    &-pt5 {
        padding-top: 5px;
    }

    &-pt0 {
        padding-top: 0px;
    }

    &-pr35 {
        padding-right: 35px;
    }

    &-pr30 {
        padding-right: 30px;
    }

    &-pr25 {
        padding-right: 25px;
    }

    &-pr20 {
        padding-right: 20px;
    }

    &-pr15 {
        padding-right: 15px;
    }

    &-pr10 {
        padding-right: 10px;
    }

    &-pr5 {
        padding-right: 5px;
    }

    &-pr0 {
        padding-right: 0px;
    }

    &-pb35 {
        padding-bottom: 35px;
    }

    &-pb30 {
        padding-bottom: 30px;
    }

    &-pb25 {
        padding-bottom: 25px;
    }

    &-pb20 {
        padding-bottom: 20px;
    }

    &-pb15 {
        padding-bottom: 15px;
    }

    &-pb10 {
        padding-bottom: 10px;
    }

    &-pb5 {
        padding-bottom: 5px;
    }

    &-pb0 {
        padding-bottom: 0px;
    }

    &-pl35 {
        padding-left: 35px;
    }

    &-pl30 {
        padding-left: 30px;
    }

    &-pl25 {
        padding-left: 25px;
    }

    &-pl20 {
        padding-left: 20px;
    }

    &-pl15 {
        padding-left: 15px;
    }

    &-pl10 {
        padding-left: 10px;
    }

    &-pl5 {
        padding-left: 5px;
    }

    &-pl0 {
        padding-left: 0px;
    }
}

@media (max-width: $screen-md) {
    .g {
        &-header {
            &__content {
                &-mobi {
                    position: relative;
                    width: auto;

                    &-link {
                        display: block;
                    }

                    &-menu {
                        position: absolute;
                        right: 0px;
                        top: 43px;
                        background: #F0F0F0;
                        width: 250px;
                        padding: 10px 15px;
                        display: none;
                        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
                    }

                    &.active &-menu {
                        display: block;
                    }
                }

                &-mobi &-menu {
                    width: auto;
                    display: block;

                    &-item {
                        display: block;

                        &-link {
                            line-height: 40px;

                            &:before {
                                border-bottom-width: 2px;
                            }
                        }
                    }
                }

                &-mobi &-controls {
                    width: 100%;
                    padding-top: 10px;
                    margin-top: 10px;
                    border-top: 1px solid #dedede;
                    justify-content: space-between;

                    &-one {
                        margin: 0px;
                    }
                }

                &-mobi &-user {
                    width: 100%;
                    padding-top: 10px;
                    justify-content: space-between;

                    &-link {
                        display: none;
                    }

                    &-menu {
                        display: block;
                        position: relative;
                        background: none;
                        box-shadow: none;
                        padding: 0px;
                        top: 0px;
                    }
                }
            }
        }
    }
}


.ui {

    &-checkbox,
    &-radio {
        display: inline-block;
        cursor: pointer;
        position: relative;
        min-width: 20px;
        min-height: 20px;
        margin-bottom: 0px;

        input {
            display: none;
        }

        &__decor {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 18px;
            height: 18px;
            border: 1px solid #D6D6D8;
            background: #fff;
            transition: .3s;

            &:before,
            &:after {
                content: "";
                position: absolute;
                background: #fff;
                box-shadow: 0px 0px 0px 5px #fff;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                opacity: 0;
                transition: .3s;
            }

            &:before {
                left: 5px;
                top: 8px;
                width: 1px;
                height: 5px;
            }

            &:after {
                left: 6px;
                top: 7px;
                width: 9px;
                height: 1px;
            }
        }

        input:checked+&__decor {
            box-shadow: inset 0px 0px 0px 50px #2259B5;

            &:before,
            &:after {
                opacity: 1;
                box-shadow: 0px 0px 1px #fff;
            }
        }

        &__text {
            display: inline-block;
            padding-left: 30px;
            font: 16px/20px $g;
        }
    }

    &-radio {
        &__decor {
            border-radius: 50%;

            &:before {
                border-radius: 50%;
            }
        }
    }
}