@import "parts/_fonts.scss";
@import "parts/_vars.scss";

.p-jobs {
    &__title {
        margin-bottom: 40px;
    }

    &__list {
        &-one {
            padding: 15px 250px 15px 15px;
            border: 1px solid #F0F0F0;
            border-radius: 3px;
            margin-bottom: 20px;
            position: relative;

            &-name {
                font: 18px $gm;
            }

            &-cat {
                font: 16px $g;
            }

            &-btns {
                position: absolute;
                right: 140px;
                top: 20px;
                font-size: 20px;

                span {
                    margin-left: 5px;
                    cursor: pointer;
                }
            }

            &-stats {
                position: absolute;
                right: 15px;
                top: 15px;
                font: 14px $g;
            }
        }
    }

    @media (max-width: $screen-xs) {
        &__list {
            &-one {
                padding: 60px 15px 15px;

                &-btns {
                    right: 15px;
                    top: 10px;
                }

                &-stats {
                    right: auto;
                    left: 15px;
                    top: 10px;
                }
            }
        }
    }
}