@import "parts/_fonts.scss";
@import "parts/_vars.scss";

.p-pa {
    margin: 50px 0px;
    background: #fff;

    &__header {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 40px 30px;
        background: #F6F6F6;

        &-block {
            display: inline-block;
            position: relative;

            &.m-man {
                padding: 25px 0px 0px 100px;
                height: 88px;
            }

            &.m-tel {
                background: url("../img/icon-tel.svg") 30px center no-repeat;
                background-size: 17px auto;
                padding: 10px 30px 10px 60px;
                border-left: 1px solid #D6D6D8;
            }

            &.m-social {
                padding: 10px 30px 10px 30px;
                border-left: 1px solid #D6D6D8;
            }

            &.m-links {
                background: url("../img/icon-mail.svg") 30px center no-repeat;
                background-size: 24px auto;
                border-left: 1px solid #D6D6D8;
                padding: 10px 30px 10px 60px;
            }

            &-ava {
                position: absolute;
                left: 0px;
                top: 0px;

                &-img {
                    width: 88px;
                    height: 88px;
                    border-radius: 50%;
                }

                &-status {
                    position: absolute;
                    right: 8px;
                    bottom: 2px;
                    width: 16px;
                    height: 16px;
                    border: 3px solid #fff;
                    background: #dedede;
                    border-radius: 50%;

                    &.m-online {
                        background: #5ED975;
                    }
                }
            }

            &-name {
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
                color: #333;
                margin-bottom: 2px;
                max-width: 150px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                &:visited {
                    color: #6F55AB;
                }

                &:hover {
                    color: #2259B5;
                }
            }

            &-status {
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                background: #5ED975;
                color: #fff;
                padding: 2px 3px;

                &.m-busy {
                    background: #EB5757;
                }
            }

            &-place {
                color: #83848B;
                font-size: 13px;
            }

            &-tel {
                font-family: $gm;
                color: #333;

                &:hover {
                    color: #2259B5;
                }

                &-title {
                    color: #83848B;
                    font-size: 13px;
                }
            }

            &-social {
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                margin-right: 15px;
                font-size: 20px;
                text-align: center;
                color: #fff;
                border-radius: 5px;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }

                &.fa-linkedin-in {
                    background: #0F73B0;
                }

                &.fa-facebook-f {
                    background: #4F76BB
                }

                &.fa-whatsapp {
                    background: #22DA5C
                }

                &.m-none {
                    background: #BFC0C5;
                }
            }

            &-chatting {
                display: inline-block;
                vertical-align: middle;
                font-size: 13px;
                margin-right: 30px;
            }

            &-settings {
                display: block;
                padding-left: 40px;
                position: relative;

                &-icon {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    color: #BFC0C5;
                    font-size: 26px;
                }

                &-text {
                    color: #2259B5;
                    font-weight: bold;
                    text-decoration: underline;
                }

                &-info {
                    color: #83848B;
                    font-size: 13px;
                    display: block;
                }

                &:hover,
                &:hover &-text {
                    text-decoration: none;
                }
            }
        }
    }

    &__content {
        padding: 50px 40px;

        &-title {
            font-size: 22px;
            margin-bottom: 25px;
        }

        &-text {
            margin-bottom: 25px;
        }

        &-data {
            margin-bottom: 50px;

            &-item {
                color: #83848B;
                margin-bottom: 10px;

                &-name {
                    font-family: $gb;
                    color: #30323D;
                }
            }
        }

        &-sertificates {
            margin-bottom: 50px;

            &-one {
                width: 120px;
                height: 120px;
                margin: 0px 25px 25px 0px;
                cursor: pointer;
                opacity: .5;
                transition: .3s;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &-fav {
            &-one {
                display: inline-block;
                vertical-align: top;
                position: relative;
                max-width: 200px;
                padding: 15px 0px 0px 75px;
                min-height: 65px;
                margin: 0px 40px 20px 0px;

                &:last-of-type {
                    margin-right: 0px;
                }

                &-ava {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                }

                &-link {
                    display: inline-block;
                    color: #404040;
                    max-width: 100%;

                    &-name {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        max-width: 100%;
                        white-space: nowrap;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__modal-img {
        max-width: 90vw;
        max-height: 90vw;
    }
}

@media (max-width: 1024px) {
    .p-pa {
        &__header {
            &-block {
                &.m-tel {
                    padding: 10px 10px 10px 40px;
                    background-position: 10px center;
                }

                &.m-social {
                    padding: 10px 15px;
                }

                &.m-links {
                    padding: 10px 0px 10px 40px;
                    background-position: 10px center;
                }

                &-status {
                    position: absolute;
                    left: -30px;
                    top: -40px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {
    .p-pa {
        &__header {
            position: relative;

            &-block {
                &.m-settings {
                    position: absolute;
                    right: 0px;
                    top: 15px;
                }

                &-settings {

                    &-text,
                    &-info {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .p-pa {
        &__header {
            padding: 40px 15px;

            &-block {
                &-status {
                    left: -15px;
                }

                &.m-tel,
                &.m-social {
                    display: none;
                }
            }
        }

        &__content {
            padding: 20px 15px;
        }
    }
}