@import "parts/_fonts.scss";
@import "parts/_vars.scss";

.p-prflinst {
    padding: 80px 0px;

    &__settings {
        padding: 70px 60px 70px 160px;
        background: #F6F6F6;
        position: relative;
        margin-bottom: 60px;

        &-ava {
            position: absolute;
            left: 60px;
            top: 40px;

            &-img {
                max-width: 88px;
                max-height: 88px;
                border-radius: 50%;
            }

            &-status {
                position: absolute;
                right: 10px;
                bottom: 3px;
                width: 16px;
                height: 16px;
                border: 3px solid #fff;
                background: #dedede;
                border-radius: 50%;

                &.m-online {
                    background: #5ED975;
                }
            }
        }

        &-name {
            font: 15px $gm;
        }

        &-status {
            font-size: 11px;
            color: #BFC0C5;
        }

        &-right {
            position: absolute;
            right: 60px;
            top: 60px;

            &-add {
                float: left;

                &-link {
                    display: block;
                    width: 213px;
                    height: 48px;
                    text-align: center;
                    background: #2259B5;
                    color: #fff;
                    line-height: 46px;
                    cursor: pointer;

                    &:hover {
                        background: lighten(#2259B5, 5%);
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            &-edit {
                float: left;
                border-left: 1px solid #D6D6D8;
                height: 60px;
                margin: -10px 0px 0px 40px;
                padding: 20px 0px 0px 40px;

                &-link {
                    position: relative;
                    padding-left: 38px;
                    cursor: pointer;

                    &-icon {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        font-size: 26px;
                        color: #BFC0C5;
                    }

                    &-title {
                        font: bold 12px $gm;
                        color: #2259B5;
                        margin-bottom: 3px;
                    }

                    &-info {
                        font-size: 10px;
                        color: #BFC0C5;
                    }

                    &:hover &-icon,
                    &.active &-icon {
                        color: #2259B5;
                    }
                }
            }
        }

        &-content {
            display: none;
            margin: -60px 0px 60px;
            background: #fff;
            padding: 50px 65px;
        }
    }

    &__sform {
        max-width: 600px;

        &-block {
            margin-bottom: 50px;

            &-title {
                font-size: 22px;
                margin-bottom: 40px;
            }

            &-upload,
            &-tooltip {
                display: inline-block;
                vertical-align: middle;
            }

            &-upload {
                width: 205px;
                background: #D6D6D8;
                text-align: center;
                line-height: 48px;
                cursor: pointer;

                &:hover {
                    background: lighten(#D6D6D8, 5%);
                }
            }

            &-tooltip {
                position: relative;
                margin-left: 15px;

                &-question {
                    background: #356BC5;
                    color: #fff;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    font: 18px/24px $gm;
                    cursor: help;
                }

                &-popup {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    left: 0px;
                    top: 100%;
                    background: #D0CCDB;
                    padding: 25px;
                    width: 285px;
                    font-size: 13px;
                    margin-top: 10px;
                    transition: .3s;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: -8px;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-bottom: 8px solid #D0CCDB;
                    }
                }

                &:hover &-popup {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &-iblock {
                text-align: left;
                height: 48px;
                position: relative;
                margin-bottom: 30px;

                &-label {
                    font-size: 12px;
                    position: absolute;
                    left: 15px;
                    top: 5px;
                    color: #83848B;
                    z-index: 2;
                }

                &-input {
                    width: 100%;
                    display: block;
                    border: 1px solid #D6D6D8;
                    padding: 22px 50px 7px 15px;
                    color: #30323D;
                    transition: .3s;

                    &:active,
                    &:focus,
                    &:hover {
                        outline: none;
                    }

                    &:focus {
                        border-color: #2259B5;
                        box-shadow: 0px 0px 0px 1px #2259B5;
                        border-radius: 3px;
                    }
                }

                &-icon {
                    position: absolute;
                    right: 15px;
                    top: 10px;
                    font-size: 26px;
                    line-height: 26px;
                    transition: .3s;
                    z-index: 3;

                    &.fa-check {
                        color: #2259B5;
                        display: none;
                    }

                    &.fa-eye,
                    &.fa-eye-slash {
                        font-size: 18px;
                        color: #BFC0C5;
                        cursor: pointer;

                        &:hover {
                            color: #333;
                        }
                    }
                }

                &-error {
                    position: absolute;
                    left: 20px;
                    bottom: -20px;
                    font-size: 15px;
                    color: #EB5757;
                    display: none;

                    &:before {
                        content: "!";
                        display: inline-block;
                        background: #EB5757;
                        color: #fff;
                        border-radius: 50%;
                        width: 16px;
                        line-height: 16px;
                        text-align: center;
                        margin-right: 5px;
                    }
                }

                &.error &-input {
                    border-color: #EB5757;
                }

                &.error &-error {
                    display: block;
                }
            }

            &-input {
                width: 100%;
                display: block;
                border: 1px solid #D6D6D8;
                padding: 0px 50px 0px 15px;
                color: #30323D;
                height: 48px;
                transition: .3s;

                &:active,
                &:focus,
                &:hover {
                    outline: none;
                }

                &:focus {
                    border-color: #2259B5;
                    box-shadow: 0px 0px 0px 1px #2259B5;
                    border-radius: 3px;
                }
            }

            &-submit {
                border: 0px;
                background: #2259B5;
                color: #fff;
                width: 190px;
                height: 48px;
                cursor: pointer;

                &:hover {
                    background: lighten(#2259B5, 5%);
                }

                &[disabled] {
                    cursor: not-allowed;
                    opacity: .3;

                    &:hover,
                    &:active {
                        background: #2259B5;
                    }
                }
            }
        }
    }

    &__filter {
        position: relative;
        padding-left: 60px;
        margin-bottom: 40px;

        &-title {
            margin-right: 20px;
        }

        &-title,
        &-vacancies {
            display: inline-block;
            vertical-align: middle;
        }

        &-vacancies {
            position: relative;

            &-chosen-icon {
                display: none;
                margin-left: 3px;
            }

            &-chosen,
            &-list-one {
                display: inline-block;
                vertical-align: top;
                margin-right: 20px;
                cursor: pointer;

                &:hover {
                    color: #2259B5;
                }
            }

            &-list {
                display: inline-block;
                vertical-align: top;

                &-one:first-of-type {
                    display: none;
                }
            }
        }

        &-add {
            position: absolute;
            right: 0px;
            top: -7px;
            display: none;

            &-link {
                display: block;
                width: 213px;
                height: 48px;
                text-align: center;
                background: #2259B5;
                color: #fff;
                line-height: 46px;
                cursor: pointer;

                &:hover {
                    background: lighten(#2259B5, 5%);
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    &__nov {
        padding: 40px 30px;
        background: #fff;
    }

    &__fav {
        background: #fff;
        padding: 40px 30px;

        &-title {
            font-size: 22px;
            margin-bottom: 30px;
        }

        &-one {
            display: inline-block;
            vertical-align: top;
            position: relative;
            max-width: 200px;
            padding: 15px 0px 0px 75px;
            min-height: 65px;
            margin: 0px 40px 20px 0px;

            &:last-of-type {
                margin-right: 0px;
            }

            &-ava {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: 0px;
            }

            &-link {
                display: inline-block;
                color: #404040;
                max-width: 100%;

                &-name {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 100%;
                    white-space: nowrap;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {
    .p-prflinst {
        &__settings-right-add {
            display: none;
        }

        &__filter {
            padding: 0px;

            &-vacancies {
                &-chosen {

                    &-text,
                    &-icon {
                        display: inline-block;
                    }
                }

                &-list {
                    display: none;
                    position: absolute;
                    left: 0px;
                    top: 100%;
                    margin-top: 10px;
                    padding: 0px 10px;
                    background: #fff;
                    border: 1px solid #D6D6D8;
                    min-width: 200px;
                    z-index: 1;

                    &-one {
                        display: block;
                        line-height: 30px;

                        &:first-of-type {
                            display: block;
                        }
                    }
                }

                &.opened &-list {
                    display: block;
                }
            }

            &-add {
                display: block;
            }
        }
    }
}

@media (max-width: 740px) {
    .p-prflinst {
        padding: 0px 0px 60px;

        &__settings {
            padding: 50px 30px;
            margin: 0px -15px 25px;
            text-align: center;

            &-ava {
                position: relative;
                left: 0px;
                top: 0px;
                display: inline-block;
                margin-bottom: 15px;
            }

            &-name {
                font-size: 17px;
            }

            &-info {
                font-size: 12px;
            }

            &-right {
                right: 20px;
                top: 20px;

                &-edit {
                    padding: 0px;
                    border: 0px;
                    margin: 0px;

                    &-link {
                        padding: 6px 38px 0px 0px;

                        &-icon {
                            left: auto;
                            right: 0px;
                        }

                        &-title,
                        &-info {
                            display: none;
                        }
                    }
                }
            }

            &-content {
                margin: -25px -15px 25px;
                padding: 30px 15px;
            }
        }

        &__sform-block-tooltip-popup {
            left: auto;
            right: 0px;
            margin-top: 15px;
            width: 200px;

            &:before {
                left: auto;
                right: 7px;
            }
        }

        &__filter {
            padding-top: 90px;
            text-align: center;
            margin-bottom: 30px;

            &-title {
                display: block;
            }

            &-title {
                margin: 0px 0px 10px;
            }

            &-vacancies {
                &-chosen {
                    margin: 0px;
                }

                &-list {
                    text-align: left;
                }
            }

            &-add {
                right: 50%;
                margin-right: -106px;
                top: 0px;
            }
        }
    }
}