@import "parts/_fonts.scss";
@import "parts/_vars.scss";

.p-sja {
    padding: 50px 0px;

    &__settings {
        padding: 70px 60px 70px 160px;
        background: #F6F6F6;
        position: relative;

        &-ava {
            position: absolute;
            left: 60px;
            top: 40px;

            &-img {
                max-width: 88px;
                max-height: 88px;
                border-radius: 50%;
            }

            &-status {
                position: absolute;
                right: 10px;
                bottom: 3px;
                width: 16px;
                height: 16px;
                border: 3px solid #fff;
                background: #dedede;
                border-radius: 50%;

                &.m-online {
                    background: #5ED975;
                }
            }
        }

        &-name {
            font: 15px $gm;
        }

        &-status {
            font-size: 11px;
            color: #BFC0C5;
        }

        &-right {
            position: absolute;
            right: 60px;
            top: 50px;
            border-left: 1px solid #D6D6D8;
            padding: 20px 0 20px 30px;

            &-chat {
                &-icon {
                    display: inline-block;
                    vertical-align: middle;
                    color: #BFC0C5;
                    margin-right: 10px;
                }

                &-link {
                    font-size: 13px;
                    color: #2259B5;
                }
            }
        }
    }

    &__content {
        background: #fff;
        padding: 50px 40px;

        &-title {
            font: 22px $gm;
            color: #2259B5;
            margin-bottom: 25px;
        }

        &-text {
            line-height: 1.5;
            margin-bottom: 30px;
        }

        &-params {
            font-size: 13px;
            margin-bottom: 30px;

            &-one {
                margin-bottom: 10px;

                &-title {
                    font-weight: bold;
                }

                &-text {
                    color: #929296;
                }
            }
        }

        &-posted {
            color: #929296;
            margin-bottom: 30px;

            &-title {
                font-size: 13px;
                font-weight: bold;
                color: #000;
                margin-bottom: 2px;
            }
        }

        &-btns {
            &-one {
                display: inline-block;
                background: #2259B5;
                color: #fff;
                width: 130px;
                height: 40px;
                font-size: 13px;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                margin-right: 30px;

                &:hover {
                    text-decoration: none;
                    color: #fff;
                    background: lighten(#2259B5, 5%);
                }
            }

            &-link {
                display: inline-block;
                font: 13px/40px $gm;
                color: #2259B5;
            }
        }
    }

    &__modal {
        background: #fff;
        pointer-events: auto;

        &-header {
            background: #F6F6F6;
            padding: 0px 40px;
            position: relative;

            &-title {
                font: 22px/56px $gm;
            }

            &-close {
                position: absolute;
                right: 10px;
                top: 10px;
                color: #BFC0C5;
                font-size: 20px;
                cursor: pointer;
            }
        }

        &-content {
            padding: 50px 40px;

            &-title {
                font: 15px $gm;
                margin-bottom: 15px;
            }

            &-message {
                border: 1px solid #D6D6D8;
                margin-bottom: 40px;

                &-textarea {
                    border: 0px;
                    resize: none;
                    height: 250px;
                    width: 100%;
                    padding: 15px;

                    &:hover,
                    &:focus {
                        outline: none;
                    }
                }

                &-attach {
                    overflow: hidden;
                    position: relative;
                    height: 60px;
                    border-top: 1px solid #D6D6D8;

                    &-icon,
                    &-text {
                        float: left;

                    }

                    &-icon {
                        color: #BFC0C5;
                        font-size: 28px;
                        line-height: 60px;
                        border-right: 1px solid #D6D6D8;
                        width: 70px;
                        text-align: center;
                        margin-right: 12px;
                    }

                    &-text {
                        color: #83848B;
                        font-size: 13px;
                        line-height: 60px;
                    }

                    &-input {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 300%;
                        height: 200%;
                        padding: 100% 0px 0px 100%;
                        opacity: 0;
                        cursor: pointer;
                    }
                }
            }

            &-files {
                margin-bottom: 50px;

                &-title {
                    font: 15px $gm;
                    margin-bottom: 15px;
                }

                &-one {
                    display: inline-block;
                    margin: 0px 25px 10px 0px;

                    &-text,
                    &-del {
                        display: inline-block;
                        vertical-align: top;
                        line-height: 15px;
                    }

                    &-text {
                        font-size: 13px;
                    }

                    &-del {
                        font-size: 10px;
                        margin-top: -4px;
                        padding: 5px;
                        cursor: pointer;
                    }
                }
            }

            &-submit {
                width: 95px;
                height: 40px;
                color: #fff;
                border: 0px;
                background: #2259B5;
                font-size: 13px;
                cursor: pointer;

                &:hover {
                    background: lighten(#2259B5, 5%);
                }
            }
        }
    }

    &-proposals {
        &__title {
            font-size: 28px;
            margin: 0px 0px 40px 60px;
        }

        &__content {
            background: #fff;
            padding: 40px 30px;

            &-one {
                max-width: 865px;

                &-header {
                    display: flex;
                    justify-content: space-between;
                    min-height: 64px;
                    margin-bottom: 8px;

                    &-left {
                        position: relative;
                        padding: 17px 0px 0px 80px;

                        &-ava {
                            position: absolute;
                            left: 0px;
                            top: 0px;

                            &-img {
                                width: 64px;
                                height: 64px;
                            }

                            &-status {
                                position: absolute;
                                right: 8px;
                                bottom: 2px;
                                width: 16px;
                                height: 16px;
                                border: 3px solid #fff;
                                background: #dedede;
                                border-radius: 50%;

                                &.m-online {
                                    background: #5ED975;
                                }
                            }
                        }

                        &-name {
                            display: inline-block;
                            color: #404040;
                            text-decoration: underline;
                            margin-bottom: 2px;

                            &:visited {
                                color: #6F55AB;
                            }

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        &-date {
                            font-size: 13px;
                            color: #83848B;
                        }
                    }

                    &-right {
                        padding-top: 15px;

                        &-item {
                            display: inline-block;
                            vertical-align: top;
                            margin-left: 40px;

                            &:first-of-type {
                                margin: 0px;
                            }

                            &-link {
                                color: #2259B5;
                                text-decoration: none !important;

                                &.m-noMess {
                                    color: #83848B;
                                }

                                &.m-none {
                                    color: #EB5757;
                                }

                                &-text{
                                    display: inline-block;
                                    text-decoration: underline;
                                }

                                &:hover &-text {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }

                &-content {
                    background: #F2FDF4;
                    padding: 25px;
                    margin-left: 80px;
                    border-radius: 0px 15px 15px 15px;

                    &-text {
                        line-height: 1.5;
                        margin-bottom: 25px;
                    }

                    &-attachments {
                        font-size: 13px;
                    }

                    &.m-none {
                        background: #FDF2F2;
                    }
                }

                &-footer {
                    margin: 25px 0px 0px 85px;
                    font: 13px $gm;

                    &-edit {
                        display: inline-block;
                        color: #2259B5;
                        cursor: pointer;
                        margin-right: 20px;
                    }

                    &-delete {
                        color: #EB5757;
                        cursor: pointer;
                    }
                }
            }

            &-more {
                width: 175px;
                text-align: center;
                line-height: 48px;
                color: #fff;
                background: #2259B5;
                margin: auto;
                cursor: pointer;

                &:hover {
                    background: lighten(#2259B5, 5%);
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {
    .p-sja {
        &__settings-right {
            position: relative;
            right: 0px;
            top: 0px;
            border: 0px;
            padding: 5px 0px 0px;

            &-chat-icon {
                font-size: 18px;
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: $screen-xs) {
    .p-sja {
        &__settings {
            padding: 30px 15px 30px 115px;

            &-ava {
                left: 15px;
                top: 5px;
            }
        }

        &__content {
            padding: 15px;

            &-btns-one {
                margin-right: 10px;
            }
        }

        &__modal {
            &-header {
                padding-left: 15px;
            }

            &-content {
                padding: 15px;
            }
        }

        &-proposals {
            &__filter {
                padding: 0px 15px;

                &-btn {
                    padding: 0px 10px;

                    &-mobi {
                        display: none;
                    }
                }

                &-show {
                    right: 10px;

                    .m-mbHide {
                        display: none;
                    }

                    .m-mbShow {
                        display: block;
                    }
                }
            }

            &__content {
                padding: 20px 15px;

                &-one {
                    &-header {
                        &-left {
                            padding: 10px 0px 0px 60px;

                            &-ava {
                                &-img {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        }

                        &-right {
                            &-item {
                                margin-left: 15px;
                            }

                            .m-mbHide {
                                display: none;
                            }
                        }
                    }

                    &-content {
                        margin: 0px;
                        padding: 15px;
                    }

                    &-footer {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}